<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.security.auth.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.security.auth.entity.Resource">
        <id column="id" property="id"/>
        <result column="resource" property="resource"/>
        <result column="type" property="type"/>
    </resultMap>

    <!--    资源属性对象映射结果 -->
    <resultMap id="ResourceAttributeResultMap"
               type="com.example.security.auth.entity.ResourceAttribute">
        <association property="resource" resultMap="BaseResultMap"/>

        <collection property="roleList" javaType="java.util.List"
                    column="resourceId=id" ofType="com.example.security.auth.entity.Role"
                    select="com.example.security.auth.mapper.RoleMapper.findByResourceId">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource, type
    </sql>

    <select id="findAllResourceAttribute" resultMap="ResourceAttributeResultMap">
        select
        id,
        resource,
        type
        from resource
    </select>
</mapper>
